.price {
    display: inline;
}
.price__value {
    display: inline-block;
    color: #d4232b;
    text-transform: uppercase;
    font-size: 14px;
}
.price__discount {
    display: inline-block;
    float: none;
    margin: 3px 0 0 5px;
    padding: 3px 5px;
    background: #d4232b;
    color: #fff;
    text-transform: uppercase;
}
.grid .price__discount {
    position: absolute;
    top: 291px;
    right: 57px;
}
.grid .price__old-value-wrapper {
    display: block;
    height: 18px;
    text-align: left;
}
.price__old-value {
    position: relative;
    display: inline-block;
    color: #4c4849;
    text-decoration: line-through;
    text-transform: uppercase;
    white-space: nowrap;
}
.list .price__old-value {
    top: -6px;
}
