---
  extends:
    - rebem/configs/common
    - rebem/configs/babel
    - rebem/configs/react
  rules:
    "react/jsx-uses-react": 2
    "react/jsx-uses-vars": 2
    "react/jsx-no-literals": 0
    "no-magic-numbers": 0
    wrap-iife:
      - 2
      - inside
    react/prop-types: 0
