{
    "extends": "stylelint-config-standard",
    "rules": {
        "indentation": 4,
        "function-url-quotes": "single",
        "string-quotes": "single",
        "rule-non-nested-empty-line-before": "never",
        "rule-no-duplicate-properties": true
    }
}
