/********
 <GLOBAL
********/
body {
    margin: 0;
    padding: 0;
    color: #404040;
    font-weight: normal;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 120%;
}
.catalog {
    min-width: 700px;
}
/* icons */
.icon-svg {
    display: inline-block;
    background-image: url('icons.svg');
    background-repeat: no-repeat;
    vertical-align: text-top;
}
.icon-svg.catalog--view-grid {
    width: 20px;
    height: 20px;
    background-position: 66.94214876033058% 94.4954128440367%;
}
.selected .icon-svg.catalog--view-grid {
    background-position: 50.413223140495866% 94.4954128440367%;
}
.icon-svg.catalog--view-list {
    width: 26.3px;
    height: 20px;
    background-position: 89.7994768962511% 0;
}
.selected .icon-svg.catalog--view-list {
    background-position: 89.7994768962511% 18.34862385321101%;
}
/********
 GLOBAL>
********/

/********
 <SEARCH
********/
.header__search {
    padding: 20px;
    background: #c01f25;
}
.header__search-input {
    display: block;
    padding: 0 10px 0 5px;
    width: 100%;
    height: 39px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 1.2em;

    -webkit-appearance: none;
}
.header__search-input:focus {
    border-color: #f37022;
}
/********
 SEARCH>
********/

/*********
 <CATALOG
*********/
.catalog__main__content {
    position: relative;
    margin: 10px 20px;
}

/* title */
.catalog__status {
    position: relative;
    display: table;
    box-sizing: border-box;
    margin-bottom: 7px;
    padding: 1em 0 0.5em;
    width: 100%;
    border-bottom: none;
}
.catalog__status__title {
    display: table-cell;
    width: 100%;
}
.component-catalog_title {
    position: relative;
}
.catalog__title {
    position: relative;
    display: block;
    margin: 0 0 5px;
    padding: 0;
    vertical-align: bottom;
    font-weight: 100;
    font-size: 25px;
    line-height: 25px;
}
.catalog__quantity {
    text-transform: capitalize;
    font-size: 12px;
    line-height: 1.3em;
}

/* filters */
.catalog__status__filters {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}
.catalog__status__filters__title {
    position: relative;
    left: 9px;
    display: inline-block;
    margin-right: 1em;
    text-transform: none;
    font-size: 13px;
}
.catalog__status__filters .component-dropdown {
    display: inline-block;
    margin-right: 27px;
    width: 158px;
}
.catalog__status__filters .component-switcher {
    position: relative;
    display: inline-block;
}
.catalog__status__filters .component-switcher .switchers {
    position: relative;
    top: -3px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
}
.catalog__status__filters .component-switcher .switcher {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0;
    margin-left: 10px;
    padding: 0;
    width: 25px;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
}
.catalog__status__filters .component-switcher .switcher:first-of-type {
    margin: 0 -0.25em 0 10px;
}
/********
 CATALOG>
********/

/**********
 <PRODUCTS
**********/
.product_list {
    clear: both;
    overflow: hidden;
}
.product_list.grid {
    display: flex;
}
.product_list.list {
    display: block;
}

/* product-card, grid style */
.product-card {
    position: relative;
    float: none;
    padding: 1px 6px 6px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0);
    background: #fff;
    color: #4c4849;
    vertical-align: top;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5em;
    transition: border-color 0.2s ease;
}
.grid .product-card {
    display: inline-block;
    margin: 0 0 10px 5px;
    padding-bottom: 40px;
    width: 236px;
}
.list .product-card {
    display: block;
    margin: 0;
    width: auto;
}
.product-card:hover {
    border-color: #aaa;
}
.product-card a {
    text-decoration: none;
}
.product-card a::after {
    display: block;
    visibility: hidden;
    clear: both;
    width: 100%;
    height: 0;
    content: '';
}

/* image */
.product-card__img {
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto;
    text-align: center;
}
.grid .product-card__img {
    margin: 0 -6px;
    min-width: 233px;
    min-height: 233px;
    max-width: 233px;
    max-height: 233px;
}
.list .product-card__img {
    float: left;
    margin: 0 0 30px;
    min-width: 210px;
    min-height: 160px;
    max-width: 210px;
    max-height: 233px;
}
.grid .product-card__img img {
    min-width: 160px;
    min-height: 160px;
    max-width: 233px;
    max-height: 233px;
}
.list .product-card__img img {
    min-width: 160px;
    min-height: 160px;
    max-width: 100%;
    max-height: 233px;
}

/* name */
.product-card__description {
    margin-top: 32px;
}
.product-card__name-wrap {
    position: relative;
}
.grid .product-card__name-wrap {
    margin-bottom: 6px;
    margin-left: 0;
    height: 2.2em;
    line-height: 1.1em;
}
.list .product-card__name-wrap {
    margin-bottom: 6px;
    margin-left: 227px;
    height: auto;
    line-height: 1.1em;
}
.product-card__name {
    z-index: 3;
    overflow: hidden;
    color: #4c4849;
    text-align: left;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
}
.grid .product-card__name {
    position: absolute;
}
.list .product-card__name {
    position: relative;
    display: block;
    height: auto;
}

/* price */
.price-block--grid {
    display: block;
}
.price-block--list {
    position: relative;
    float: right;
    padding-bottom: 52px;
    min-height: 45px;
    width: 215px;
}
.product-card__price {
    display: inline-block;
    color: #d4232b;
    text-transform: uppercase;
    font-size: 14px;
}
.product-card__sale {
    display: inline-block;
    float: none;
    margin: 3px 0 0 5px;
    padding: 3px 5px;
    background: #d4232b;
    color: #fff;
    text-transform: uppercase;
}
.grid .product-card__sale {
    position: absolute;
    top: 291px;
    right: 57px;
}
.grid .old-price-wrap {
    display: block;
    height: 18px;
    text-align: left;
}
.product-card__old-price {
    position: relative;
    display: inline-block;
    color: #4c4849;
    text-decoration: line-through;
    text-transform: uppercase;
    white-space: nowrap;
}
.list .product-card__old-price {
    top: -6px;
}

/* rating */
.product-card__rating {
    margin-bottom: 5px;
    white-space: nowrap;
    font-size: 12px;
}
.grid .product-card__rating {
    margin-top: 5px;
}
.list .product-card__rating {
    position: relative;
    margin-left: 227px;
    height: 20px;
}
.product-card__rating__stars {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 13px;
    white-space: nowrap;
    font-size: 13px;
    line-height: 13px;
}
.product-card__rating__stars > div:last-child {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.product-card__rating__icon-star-grey {
    width: 11px;
    height: 13px;
    background-position: 90.76923076923077% 55.172413793103445%;
    background-repeat: no-repeat;
}
.product-card__rating__icon-star-orange {
    width: 11px;
    height: 13px;
    background-position: 90.76923076923077% 66.37931034482759%;
    background-repeat: no-repeat;
}
.product-card .rating__number {
    position: relative;
    top: -1px;
    color: #4c4849;
}

/* description */
.list .product-card__describtion--full {
    margin-top: 11px;
    margin-left: 209px;
    width: 525px;
}
.list .prd-attributesList {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 13px;
    padding-left: 0;
    max-height: none;
    height: auto;
    list-style-type: none;
}
.list .prd-attributesList li {
    position: relative;
    float: left;
    overflow: hidden;
    margin-top: 5px;
    margin-right: 10px;
    padding-left: 14px;
    width: 220px;
    height: auto;
    color: #000;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    line-height: 13px;
}
.list .prd-attributesList li::before {
    position: absolute;
    top: 3px;
    left: 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #b2b2b2;
    content: '';
}

/* buy button */
.grid .button-buy {
    position: absolute;
    right: 5px;
    bottom: 3px;
    left: 3px;
    z-index: 2;
    display: block;
    margin-top: 20px;
    text-align: center;
    opacity: 0;
}
.grid .product-card:hover .button-buy,
.list .product-card:hover .button-buy {
    opacity: 1;
}
.list .button-buy {
    position: absolute;
    bottom: 0;
    display: block;
    margin-top: 20px;
    width: 100%;
    opacity: 0;
}
.product-card .button-buy__text {
    padding: 6px 0;
    width: 100%;
    border: 1px solid #f37022;
    background: #f37022;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.list .product-card .button-buy__text {
    display: block;
    width: 100%;
}
.product-card .button-buy:hover .button-buy__text {
    background: #fff;
    color: #f37022;
}
/**********
 PRODUCTS>
**********/
